<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://m3globofunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc28b099-11e3-4d2a-a99a-295928531a2c/resourceGroups/m3globogroup/providers/Microsoft.Web/sites/m3globofunctions</ResourceId>
    <UserName>$m3globofunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://m3globofunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>